.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color .3s ease-in-out;
    z-index: 1000;

    &.visible {
        background-color: rgba(0, 0, 0, 0.5);
    }
}

.inner {
    width: 400px;
    height: 360px;
    padding: 16px 0;
    background-color: white;
    border-radius: 8px;
    position: fixed;
    transition: all .3s ease-in-out;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 240px;
    opacity: 0;
    z-index: 1100;

    &.visible {
        top: 200px;
        opacity: 1;
    }
}

.wallet {
    transition: all .1s ease-in-out;

    &:hover {
        background-color: rgba(0, 0, 0, .08);
    }
}